* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black
}

header img {
    max-height: 150px;
}

h1 {
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 50pt;
    text-shadow: 5px 5px 1px maroon;
}

header a {
    display: flex;
    justify-content: flex-end;
    color: white;
    text-decoration: solid underline 4px maroon;
    font-size: 15pt;
}

header ul {
    display: flex;
    justify-content: space-between;
    flex-basis: 28%;
    flex-wrap: wrap;
}

header li {
    display: flex;
}

nav {
    height: 200px;
    background-image: url(Assets/football\ field\ yard\ lines.jpeg);
    filter: grayscale(45%);
    background-position: center;
    background-size: cover;
    border-bottom: 5px solid black;
}

nav h3 {
    position: absolute;
    text-align: center;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding-right: 25px;
    padding-left: 25px;
    max-width: 350px;
    font-size: 30pt;
}

main {
    width: 90%;
    height: 100%;
    margin-right: 0px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 25px;
    margin-top: 25px;
}

section h2 {
    width: 550px;
    flex-basis: 21%;
    text-align: right;
    padding-right: 20px;
    border-right: 3px solid black;
    font-size: 36px;
}

section>div {
    flex: 0 0 77%;
    padding-left: 10px;
}

.mypic {
    display: block;
    margin-left: 30%;
    margin-right: 50%;
    width: 25%;
    border-radius: 250px;
    border: 3px solid black;
}    

.mywork {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

/* GET BACK TO THIS */
.mywork a {
    display: flex;
    border: 4px solid black;
    background-color: white;
    min-height: 180px;
    max-height: 180px;
    flex-basis: calc(50% - 1em);
    margin: 0.5em;
    align-items: flex-end;
    padding-bottom: 20px;
    font-size: 16pt;
    text-decoration: none;
}

.mywork a:hover {
    opacity: 50%;
}

.mywork a:first-child {
    min-height: 350px;
    flex-basis: 100%;
}

.mywork div {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding-left: 10px;
    width: 150px;
}

.horiseon {
    background-image: url(Assets/digital-marketing-meeting.jpg);
    background-size: cover;
    background-position: center;
}

.football {
    background-image: url(Assets/miami\ field.jpeg);
    background-size: cover;
    background-position: center;
}

.motorcycle {
    background-image: url(Assets/motorcycle.jpeg);
    background-size: cover;
    background-position: center;
}

.dogs {
    background-image: url(Assets/dogs.jpeg);
    background-size: cover;
    background-position: center
}

.scotland {
    background-image: url(Assets/scotland.jpg);
    background-size: cover;
    background-position: center;
}