*  {
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(78, 84, 56);
    border: 6px solid maroon;
}

h1 {
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 50px;
    text-shadow: 5px 5px 1px maroon;
}

a   {
    display: flex;
    justify-content: flex-end;
    color: white;
    text-decoration: solid underline 4px maroon;
}

header ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

header li {
    display: flex;
}

nav {
    height: 225px;
    color:;
}

nav img {
    height: 100%;
    width: 100%;
}

section {
    border: 6px solid maroon;
    width: 75%;
    float: right;
    margin-right: 20px;
}

article {
    height: 300px;

}

article h4 {
    margin: none;
    padding-top: 1px;
}

aside {
    border: 6px maroon;
    width: 23%;
    float: left;
    flex-direction: column;
    
}

aside h2 {
    font-size: 40px;
    text-align: right;
    height: 300px;
}